<html>
    <head>   
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Going toschool was not her favourite thing she preferred to paly so hard, explode in joy on every single day. I mean every day. Eventually, she discovered her passion, to dance. That was the begining of her life as a dancer.</p>
        </div>


        <div>
            <p>published:14.06.2014, 12:14 </p>
            <h2><a href="">My second post</a></h2>
            <p>One movie i so much remember is, wait! i don't even remember the title!!! oh dear, crap!, lol. The scene i remember is Daavi oo Daavi behind the bars crying, "Oh Yanky, when shall I?, Oh yanky when shall I,? Oh Yanky , when shall we? someday, somehow, sometime, we shall be there",  </p>
        </div>
    <p>Hi there!</p>
    <p>It works</p>
    </body>
</html>
